<ion-header>

  <ion-navbar>
    <ion-buttons end>
      <button ion-button icon-only (click)="onNewRecipe()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Recipes</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <button ion-item *ngFor="let recipe of getRecipes(); let i = index" (click)="onLoadRecipe(i)">
      <h2>{{ recipe.title }}</h2>
      <ion-note>{{ recipe.difficulty }}</ion-note>
    </button>
  </ion-list>

<!--
  <ion-card *ngFor="let recipe of getRecipes()">

    <ion-card-header>
      <h3>{{ recipe.title }}</h3>
      <p>{{ recipe.difficulty }}</p>
    </ion-card-header>

    <ion-card-content>
      <p>{{ recipe.description }}</p>
    </ion-card-content>
    <ion-list>
      <ion-list-header>
        Ingredients
      </ion-list-header>
      <ion-item *ngFor="let ingredient of recipe.ingredients">
        {{ ingredient.name }}
        <ion-note item-end>
          {{ ingredient.amount }}
        </ion-note>
      </ion-item>
    </ion-list>
  </ion-card>
-->
</ion-content>
