<ion-header>
  <ion-navbar>
    <ion-title>
      Assignment 2
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>

    <ion-row>
      <ion-col text-center>
        <h3>Enter the right Code</h3>
        <p *ngIf="!didWin()">Tap twice, press four times.</p>
        <p *ngIf="didWin()">You won!</p>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col text-center>
        <h4>Place for message!</h4>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-list>
        <ion-item>
          <p>Tapped: {{ taps }}</p>
        </ion-item>
        <ion-item>
          <p>Pressed: {{ press }}</p>
        </ion-item>
      </ion-list>
    </ion-row>

    <app-gesture-control (didReset)="onDidReset($event)"></app-gesture-control>

    <ion-row>
      <ion-col text-center class="sensor-pad" (tap)="onSensorTap()">Tap here</ion-col>
      <ion-col text-center class="sensor-pad" (press)="onSensorPress()">Press here</ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
